<!DOCTYPE html>
{%load static%}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vista Foundation</title>
    <meta name="description" content="Knowledge for everyone">
    <meta name="keywords" content="vista foundation, Free Education, Sports Tournaments, knowledge for everyone, gain knowledge">
 <!--    <link rel="stylesheet" type="text/css" href="{%static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/hero-slider-style.css'%}">
		<link rel="stylesheet" type="text/css" href="{%static 'css/magnific-popup.css'%}">
		<link rel="stylesheet" type="text/css" href="{%static 'css/templatemo-style.css'%}"> -->

    <link rel="icon" href="{% static 'img/logo.jpg' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155271978-1"></script>

    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/font-awesome.min.css'%}" >
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/flaticon.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/animate.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/owl.carousel.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/owl.theme.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/slick.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/slick-theme.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/swiper.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/owl.transitions.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/jquery.fancybox.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/odometer-theme-default.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/nice-select.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/css/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'assets/css/signup.css'%}">
	




    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-155271978-1');
</script>

<style>
/***********************************
Floating button
************************************/

.zoom-fab
{
  position:fixed;
  top:10px;
  right:27px;
  display: inline-block;
  width:60px;
  height:60px;
  line-height:40px;
  vertical-align:middle;
  text-decoration:none;
  text-align:center;
  transition:0.5s ease-out;
  cursor:pointer;
  color:#FFF;

}

.scale-transition.scale-out
{
  transform: scale(0);
  transition: transform0.5s!important ease-in;
}

.register-text
{
font-style: "Calibri";
border-radius: 0px;
padding-left:5px;
padding-right:5px;
background: #111;
color:white;
font-size: 9px;
position:fixed;
top:68px;
right:22px;
}

@media screen and (max-width: 600px) {
  .register-text
{
font-style: "Calibri";
border-radius: 0px;
padding-left:5px;
padding-right:5px;
background: #111;
color:white;
font-size: 9px;
position:fixed;
top:108px;
right:22px;
}



.zoom-fab
{
  position:fixed;
  top:45px;
  right:27px;
  display: inline-block;
  width:60px;
  height:60px;
  line-height:40px;
  vertical-align:middle;
  text-decoration:none;
  text-align:center;
  transition:0.5s ease-out;
  cursor:pointer;
  color:#FFF;

}

.scale-transition.scale-out
{
  transform: scale(0);
  transition: transform0.5s!important ease-in;
}

}

</style>




<style>	
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

@media screen and (min-width: 601px) {
  div.tagg {
    font-size: 14px;
	margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  div.tagg {
    font-size: 11px;
  }
}


</style>


</head>

<body>


  <!--Navigation bar-->
  
  <!-- Start header -->
        <header id="header" class="wpo-site-header wpo-header-style-2">
            <div class="topbar" >
                <div class="container">
                    <div class="row">
                        <div class="col col-md-6 col-sm-7 col-12">
                            <div class="contact-intro">
                                <ul>
								<li><i class="fi flaticon-call"></i><a href="tel:06361911805" style="color:white">06361911805</a></li>
                                    
                                    <li><i class="fi flaticon-envelope"></i><a href="mailto:vistafoundationblr@gmail.com" style="color:white">vistafoundationblr@gmail.com</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-6 col-sm-5 col-12">
                            <div class="contact-info">
                                <ul>
								<li><a class="theme-btn-s2" href="{%url 'login'%}">V-SMS Login</a></li>
                                    <!-- <li><a href="login.html">Login</a></li> -->
									
                                    <!-- <li><a href="register.html">Sign Up</a></li> -->
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
				
				
				
            </div> <!-- end topbar -->
            <nav class="navigation navbar navbar-default">
			
	
			
			
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
<!--                         <a class="navbar-brand" href="index.html"><img src="{%static 'assets/images/logo.png'%}" alt="logo"></a> -->
               <br>
			   
			   
			   
			   
			                           <a class="logo" href="{%url 'home'%}"><img src="{% static 'assets/images/logon.png' %}" alt="VISTA-FOUNDATION"></a>
			   
			   
			   
		<!--  <div class="logo"><a href="{%url 'home'%}"><img src="{% static 'img/logo.jpg' %}"   width="60"; height="50"; class="img-fluid" alt="" style="padding-right:10px;margin-top:10px;margin-left:5px;"><span style="text-decoration: underline;color:#fff; font-weight: bold; font-size:20px">VISTA FOUNDATION</span></a>

<div class="tagg" style="padding-left:15px;width:100%;margin-bottom:10px; width:100%;color:#fff">
<center>
<span >Knowledge for Everyone</span>
</center>
</div>
</div> 	 -->   
<!-- <a href="{%url 'home'%}"><img src="{% static 'img/LOGO_text.png' %}"   width="200"; height="50"; class="img-fluid" alt=""> -->

				   </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="ti-close"></i></button>
                        <ul class="nav navbar-nav">
<li><a href="{%url 'home'%}">Home</a></li>                            
							<li class="menu-item-has-children">
                                <a href="#">Team</a>
                                <ul class="sub-menu">
                                    <li><a href="{%url 'advisory'%}">Advisory Board</a></li>

                                    <li><a href="{%url 'volunteers'%}">Volunteer</a></li>

                                </ul>
                            </li>
                            <li><a href="{%url 'about'%}">About</a></li>
<!--                             <li><a href="causes.html">Causes</a></li> -->

                            <li class="menu-item-has-children"><a href="#">Activities</a>
							            <ul class="sub-menu">
                                    <li><a href="{%url 'event'%}">Sports</a></li>
                                    <li><a href="{%url 'video'%}">Academic</a></li>

                                </ul>
								</li>
                            
                            <!-- <li class="menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog right sidebar</a></li>
                                    <li><a href="blog-left.html">Blog left sidebar</a></li>
                                    <li><a href="blog-fulwidth.html">Blog fullwidth</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog details</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-single.html">Blog details right sidebar</a></li>
                                            <li><a href="blog-single-left.html">Blo
                                            g details left sidebar</a></li>
                                            <li><a href="blog-single-fluid.html">Blog details fullwidth</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
							
							
                            <li><a href="{%url 'contact'%}">Contact Us</a></li>
                        </ul>
                    </div><!-- end of nav-collapse -->
                    <div class="cart-search-contact">
                        <div class="mini-cart">
                            <button class="cart-toggle-btn" > 
							<img src="{% static 'assets/images/bell.png' %}"  width="27"; height="27"; style="padding-top:5px; padding-left:5px;" >
		<!-- 					<i class="fi flaticon-shopping-bag"></i> --> <span class="cart-count">02</span></button>
                            <div class="mini-cart-content">
                                <div class="mini-cart-title">
                                    <p>Notification</p>
                                </div>
                                <div class="mini-cart-items">
                                    <div class="mini-cart-item clearfix">
                                        <div class="mini-cart-item-image">
                                            <a href="#"><img src="assets/images/shop/mini/img-1.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-item-des">
                                            <a href="#">Vista Sports League</a>
                                            <span class="mini-cart-item-price">Registration</span>
                                            <span class="mini-cart-item-quantity">07/03/2020</span>
                                        </div>
                                    </div>
                                    <div class="mini-cart-item clearfix">
                                        <div class="mini-cart-item-image">
                                            <a href="#"><img src="assets/images/shop/mini/img-2.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-item-des">
                                            <a href="#">Vista Sports League</a>
                                            <span class="mini-cart-item-price">Audition</span>
                                            <span class="mini-cart-item-quantity">07/03/2020</span>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="mini-cart-action clearfix">
                                    <span class="mini-checkout-price"></span>
                                    <a href="#" class="theme-btn-s4">View</a>
                                </div-->
                            </div>
                        </div>
                        <div class="header-search-form-wrapper">
<!--                             <button class="search-toggle-btn"><i class="fi flaticon-magnifying-glass"></i></button> -->
                            <div class="header-search-form">
                                <form>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Search here...">
                                        <button type="submit"><i class="fi flaticon-magnifying-glass"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
			<!--Floating Button Animation-->
<a class="zoom-fab scale-transition scale-out" id="football_reg" href="{% url 'register' %}">
<img src="{% static 'img/football.png' %}" width="100%;"/></a>
<a class="zoom-fab scale-transition scale-out" id="hockey_reg" href="{% url 'register' %}">
<img src="{% static 'img/hockey.png' %}" width="100%;"/></a>
<a class="zoom-fab scale-transition scale-out" id="kabaddi_reg" href="{% url 'register' %}">
<img src="{% static 'img/kabaddi.png' %}" width="100%;"/></a>
<a href="{% url 'register' %}"><p class="register-text">Register Now</p></a>
        </header>
  
   
  <!--/ Navigation bar-->

  {% block content %}
  {% endblock %}


<footer class="wpo-site-footer">
                <div class="wpo-upper-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget about-widget">
                                    <div class="logo widget-title">
                                        <center>
										<img src="{% static 'img/logo.jpg' %}" width="50"; height="50"; alt="VISTA">
										
										<h3>
										VISTA FOUNDATION
										</h3>
										                                        </center>
<!-- <span style="text-decoration: underline;color:#fff; font-weight: bold; font-size:15px">VISTA-FOUNDATION</span> -->
                                    </div>
                                    <p>Learn Today. . . Lead Tomorrow<br>
									
Learning never exhausts our mind<br>
Promote learning and promote knowledge

 </p>
                                    <ul>
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        <li><a href="#"><i class="ti-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget link-widget resource-widget">
                                    <div class="widget-title">
                                        <h3>Top News</h3>
                                    </div>
                                    <div class="news-wrap">
                                        <div class="news-img">
                                            <img src="assets/images/footer/img-1.jpg" alt="">
                                        </div>
                                        <div class="news-text">
                                            <h3>Vista Sports League</h3>
                                            <span>12 Nov, 2020</span>
                                        </div>
                                    </div>
                                    <div class="news-wrap">
                                        <div class="news-img">
                                            <img src="assets/images/footer/img-2.jpg" alt="">
                                        </div>
                                        <div class="news-text">
                                            <h3>Vista Sports League</h3>
                                            <span>12 Nov, 2020</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-lg-2 col-md-3 col-sm-6">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Useful Links</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Cause</a></li>
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Event</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col col-lg-3 col-lg-offset-1 col-md-3 col-sm-6">
                                <div class="widget market-widget wpo-service-link-widget">
                                    <div class="widget-title">
                                        <h3>Contact </h3>
                                    </div>
                                    <p>

VISTA FOUNDATION<br>
Knowledge for Everyone</p>
                                    <div class="contact-ft">
                                        <ul>
                                            <li><i class="fi flaticon-pin"></i>Vista Foundation, 2nd floor, 3rd Main Road, NGR Layout,
Roopena Agrahara, Bommanahalli, Bengaluru, Karnataka 560068</li>



                                            <li><i class="fi flaticon-call"></i>+91 6361911805</li>
                                            <li><i class="fi flaticon-envelope"></i>vistafoundationblr@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
                <div class="wpo-lower-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <p class="copyright">&copy; 2020 Vista Foundation. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>


<footer id="footer" class="footer">
<div class="container text-center">
<center>
<div class="row" style="width:300px;margin-top:10px;margin-bottom:10px;">
<div class="" style="display:flex;justify-content: space-between;">
<a href="https://twitter.com/vistafoundatio2" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
<a href="https://www.facebook.com/VISTA-Foundation-108726667304796/?__tn__=%2Cd%2CP-R&eid=ARCHIlRY6rIoCgXOc2mtbyppjfSR6bbJx3ixaCHTWSIsT9LwC1DjcubRNupKQG0dXtdt6jVrRnQTXipN/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
<a href="https://www.youtube.com/channel/UC_D7dSeZzbOnbia_BvVFX_w" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a>
<a href="https://www.linkedin.com/in/vista-foundation-b82190198/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
<a href="https://www.instagram.com/vistafoundationblr/?hl=en" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
</div>
</div>

<div class="row" style="margin-bottom:10px; width:47.5%;">
<div class="" style="display:flex;justify-content: space-between;font-size:1vw;">
<a href="{% url 'payment_terms' %}" >Terms and conditions</a>|
<a href="{% url 'privacy' %}" >Privacy policy</a>|
<a href="{% url 'return_refund' %}" >Refund and cancellation</a>|
<a href="{% url 'disclaimer' %}">Disclaimer</a>
</div>
</div>
<div class="row" style="width:100%;margin-bottom:10px;width:50%;font-size:.8vw;color:#bbb">
&copy;
<span id="copyright">
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span>
VISTA Foundation, All rights reserved.
</div>
</center>
</div>
</footer>




	<script src="//code.jivosite.com/widget/OJqHFCWgBC" async>
	
	
	</script>
<!--Floating Button Animation-->
<!-- <a class="zoom-fab scale-transition scale-out" id="football_reg" href="{% url 'register' %}">
<img src="{% static 'img/football.png' %}" width="100%;"/></a>
<a class="zoom-fab scale-transition scale-out" id="hockey_reg" href="{% url 'register' %}">
<img src="{% static 'img/hockey.png' %}" width="100%;"/></a>
<a class="zoom-fab scale-transition scale-out" id="kabaddi_reg" href="{% url 'register' %}">
<img src="{% static 'img/kabaddi.png' %}" width="100%;"/></a>
<a href="{% url 'register' %}"><p class="register-text">Register Here</p></a> -->


<!--Floating Button Animation-->
<!-- <script type="text/javascript">
$(document).ready(function() {
animate();
setInterval(animate, 3000);
});
function animate()
{
    $('#football_reg').toggleClass('scale-out');
          setTimeout(function() {
            $('#football_reg').toggleClass('scale-out');
            $('#hockey_reg').toggleClass('scale-out');
              setTimeout(function() {
                $('#hockey_reg').toggleClass('scale-out');
                $('#kabaddi_reg').toggleClass('scale-out');
                  setTimeout(function() {
                    $('#kabaddi_reg').toggleClass('scale-out');
                  }, 1000);
              }, 1000);
          }, 1000);
}
</script> -->

<!-- <script src="{%static 'js/jquery.easing.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/custom.js'%}"></script>
<script src="{%static 'contactform/contactform.js'%}"></script>

<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/hero-slider-main.js'%}"></script>
<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{%static 'js/tether.min.js'%}"></script>
<script src="{%static 'js/jquery-1.11.3.min.js'%}"></script>
<script src="{%static 'js/bootstrap2.min.js'%}"></script> -->

    <script src="{%static 'assets/js/jquery.min.js'%}"></script>
    <script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
    <!-- Plugins for this template -->
    <script src="{%static 'assets/js/jquery-plugin-collection.js'%}"></script>
    <!-- Custom script for this template -->
    <script src="{%static 'assets/js/script.js'%}"></script>

<script>
(function($) {
$.fn.menumaker = function(options) {
 var cssmenu = $(this), settings = $.extend({
   format: "dropdown",
   sticky: false
 }, options);
 return this.each(function() {
   $(this).find(".menubutton").on('click', function(){
   //$(this).toggleClass('menu-opened');
     var mainmenu = $(this).next('ul');
     if (mainmenu.hasClass('open')) {
       mainmenu.slideToggle().removeClass('open');
     }
     else {
       mainmenu.slideToggle().addClass('open');
       if (settings.format === "dropdown") {
         mainmenu.find('ul').show();
       }
     }
   });
   cssmenu.find('li ul').parent().addClass('has-sub');
multiTg = function() {
     cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
     cssmenu.find('.submenu-button').on('click', function() {
       $(this).toggleClass('submenu-opened');
       if ($(this).siblings('ul').hasClass('open')) {
         $(this).siblings('ul').removeClass('open').slideToggle();
       }
       else {
         $(this).siblings('ul').addClass('open').slideToggle();
       }
     });
   };
   if (settings.format === 'multitoggle') multiTg();
   else cssmenu.addClass('dropdown');
   if (settings.sticky === true) cssmenu.css('position', 'fixed');
resizeFix = function() {
  var mediasize = 1000;
     if ($( window ).width() > mediasize) {
       cssmenu.find('ul').show();
     }
     if ($(window).width() <= mediasize) {
       cssmenu.find('ul').hide().removeClass('open');
     }
   };
   resizeFix();
   return $(window).on('resize', resizeFix);
 });
  };
})(jQuery);

(function($){
$(document).ready(function(){
$("#cssmenu").menumaker({
   format: "multitoggle"
});
});
})(jQuery);
</script>



<!--Floating Button Animation-->
<script type="text/javascript">
$(document).ready(function() {
animate();
setInterval(animate, 3000);
});
function animate()
{
    $('#football_reg').toggleClass('scale-out');
          setTimeout(function() {
            $('#football_reg').toggleClass('scale-out');
            $('#hockey_reg').toggleClass('scale-out');
              setTimeout(function() {
                $('#hockey_reg').toggleClass('scale-out');
                $('#kabaddi_reg').toggleClass('scale-out');
                  setTimeout(function() {
                    $('#kabaddi_reg').toggleClass('scale-out');
                  }, 1000);
              }, 1000);
          }, 1000);
}
</script>


</body>

</html>
